/* Color, text alignment, Font */

h1 {
	background-color: rgb(168, 255, 255);
	padding: 40px;
	text-align: center;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

body {
	background-color: rgb(255, 143, 143);
}

h4 {
	font-weight: bold;
}

main {
	text-align: center;
	font-weight: bold;
}

th {
	text-align: center;
}

p {
	background-color: #fbf8ac;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

.input {
	text-align: center;
}